################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EnumTypes/__pycache__
/GameModels/__pycache__
/__pycache__
